<%- include ./layouts/cabecera.ejs %>
  <h1>Bienvenidos a mi libreria</h1>


  <div class="row justify-content-around p-2 bd-highlight tarjeta-libro fst-italic">
    <% for( let i=0; i < libros.length; i++ ) { %>
      <div class="col-xxl-3 col-xl-3 col-md-4 col-sm-6 tarjeta mover">
        <div >
          <img src="/images/<%= libros[i].imagen %>" class="card-img-top card-img" alt="...">
          <div class="card-body tarjeta-libro">
            <h5 class="card-title">
              <%= libros[i].titulo %>
            </h5>
            <p class="card-text">
              <%= libros[i].resena %>
            </p>
            <div class="card-footer">
              <%= libros[i].autor %> - <%= libros[i].anio %>
            </div>
            <p class="mt-2"><a href="/pedidos/agregar/<%= libros[i].id %>" type="button" class="btn btn-primary ">Comprar</a></p>
          </div>
          
        </div>

      </div>
      <% } %>
  </div>




  <%- include ./layouts/pie.ejs %>