<%- include ../layouts/cabecera.ejs %>

        <h1>Listado de Usuarios</h1> <a href="/usuarios/crear" type="button" class="btn btn-primary">Agregar Usuario</a>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Usuario</th>
              <th scope="col">Password</th>
              <th scope="col">Tipo</th>
              <th scope="col">Activo</th>
              <th scope="col" colspan="2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% if (usuarios) { %>
              <% usuarios.forEach(usuario => { %>
                <tr>
                  <td scope="row"><%= usuario.id %></td>
                  <td><%= usuario.nombre %></td>
                  <td><%= usuario.usuario %></td>
                  <td><%= usuario.password %></td>
                  <% switch (usuario.tipo) {
                     case 0: %>
                      <td>Sin tipo</td>
                    <% break;
                       case 1: %>
                      <td>Administrador</td>
                    <% break;
                       case 2: %>
                      <td>Cliente</td>
                    <% break;
                    } %>
                  <% if (usuario.activo == 1) { %>
                    <td>Activo</td>
                  <% } else { %>
                    <td>Inactivo</td>  
                  <% } %>
                  <td><a href="/usuarios/editar/<%= usuario.id %>" type="button" class="btn btn-secondary">Editar</a></td>
                  <td><a href="/usuarios/eliminar/<%= usuario.id %>" type="button" class="btn btn-danger">Eliminar</a></td>
                </tr>
              <% }) %>
            <% } %>

          
          </tbody>
        </table>
        <br>
<%- include ../layouts/pie.ejs %>